[2020-02-24 02:34] chrisflesher opened #1 "Change body text font to Futura PT"
Kathryn requested to change the font to Futura.

[2020-02-24 02:53] chrisflesher opened #2 "Change body text font to dark dark gray"
Can you make the site's body text a darker grey?  Joanna and Harriet both find the current grey difficult to read due to lack of contrast.

Let's try the darkest grey available; I don't want to mess with the look of the website too much today.

[2020-02-24 02:54] chrisflesher opened #3 "Remove Checkbox on Get Involved Page"
On the Get Involved page  https://www.rcvfortexas.org/get_involved
at the bottom of the form is a default check box "  Don't publish this on the website "

We need to remove that check box.  It is confusing people, and now that more and more folks are looking at our site, we're getting negative feedback on that section.  The intent of that check box is to display people's names at the bottom of th

[2020-02-24 15:58] chrisflesher opened #4 "Upload Website doc to Google Drive"
Currently this is at:

https://docs.google.com/document/d/1Hedhb5ErWW9IKskiqUgdXDZ5YO98UAFawdHhTovqnqQ/edit#

[2020-02-24 16:01] chrisflesher opened #5 "New Signups get 2020 Tag"
Currently new volunteer signups are being automatically marked with a 2019 tag instead of 2020!

[2020-02-24 16:03] #2 closed, assigned to chrisflesher

[2020-02-24 16:03] #3 closed, assigned to chrisflesher

[2020-02-24 16:08] #4 closed, assigned to chrisflesher

[2020-02-24 16:11] chrisflesher opened #6 "Investigate using Bootstrap 4 Tools"
https://nationbuilder.com/bootstrap_4

[2020-02-28 14:32] chrisflesher opened #10 "Remove footer account settings"
From Kathryn:

...another 'feature' we need to remove:  At the very bottom of the page, in the footer on the right hand side is a link:
"HI KATHRYN HITE DE SOUSA. VIEW YOUR ACCOUNT SETTINGS, OR".
That needs to be removed.  Our website will not display user information, and we don't want to confuse folks who click on that link as see their 'public' profile.  We can keep "sign out" link.

[2020-03-06 02:36] #5 closed, assigned to chrisflesher

[2020-03-06 02:36] chrisflesher opened #11 "Remove checkbox on About Us page"

[2020-10-04 18:48] chrisflesher opened #12 "Add linkedin icon"
Here is the link:
https://www.linkedin.com/company/67366485/admin/

Some interesting info
https://nm-nationmediadev.nationbuilder.com/additional_social_media_icons

[2020-10-13 13:17] chrisflesher opened #13 "Hide who else has signed up, point person"
E-mail from Kathryn:

Chris, Harriet,

I think I finally fixed our side nav-bar, so it does not show who else has signed up.  I also removed the reference for a loged-in users "point person", just to avoid confusion.

Right now the side nav bar is activated only on the Get Involed (Volunteer) page.

Let me know if you find any errors or issues.

If not, then I will turn the side nav bar on as we h

[2020-10-31 18:47] #13 closed, assigned to chrisflesher

[2020-10-31 19:39] #6 closed, assigned to chrisflesher

[2021-01-03 19:42] chrisflesher opened #15 "Remove participate banner"
On the home page there is a banner that says "Sign up", "Become a Volunteer", "Donate". Harriet wanted to remove this.

[2021-01-03 19:57] chrisflesher commented on #15
Added a comment block in `layout.html` to fix this.

[2021-01-03 19:57] #15 closed

[2021-01-03 20:00] chrisflesher opened #17 "Don't list parent pages in the dropdown nav"
The parent pages were getting listed twice, for example the "About RCV" button the first dropdown menu item is "About RCV". Harriet requested these be removed.

This link seems like a promising fix.
https://support.nationbuilder.com/en/articles/2330714-remove-parent-pages-from-the-top-nav

[2021-01-03 20:01] #17 closed

[2021-01-03 20:04] chrisflesher opened #18 "Remove twitter / facebook like buttons at the bottom"

[2021-01-03 20:46] chrisflesher commented on #18
Removed this for basic pages

[2021-01-03 20:46] #18 closed

[2021-01-03 20:56] #11 closed

[2021-08-08 00:25] AceTylerCholine opened #20 "Link at the bottom of the legislation page."
Link at the bottom of the legislation page is hard to see

[2021-08-08 14:45] hwasserstrum opened #21 "Add option to donate to either c3 or c4 listing how funds will be spent for either choice."

[2021-08-08 14:45] hwasserstrum opened #22 "Replace volunteer categories on website with Action Sign-Up Form."

[2021-08-08 16:10] hwasserstrum opened #23 "Implement email capability from rcvfortexas.org"

[2021-08-12 02:13] chrisflesher commented on #22
From Harriet: can we just include a link to the form instead of listing volunteer categories on the website?

[2021-08-12 02:20] chrisflesher commented on #23
Work with Kathryn to set up e-mail addresses

[2021-08-16 16:30] hwasserstrum opened #24 "add link to determine your legislator and send message at any time"

[2021-08-16 18:09] chrisflesher opened #25 "Setup permission group for volunteer database"
From Harriet: It seems like we want to create a Permission Set for Volunteers that lets them access People: Everyone but nothing else. I think you can get guidance from David Green at Rank the Vote (david.green@rankthevote.us) on how to do this. You might try  to attend Office Hours once to see who is there and what type of technology information they share.

Here is an article explaining how to d

[2021-08-16 18:10] chrisflesher commented on #21
Kathryn recently worked with someone at NationBuilder since our website had gotten confused between our two bank accounts and arbitrarily rejected several donations. She may have some guidance on how best to proceed.

[2021-08-16 19:39] chrisflesher commented on #1
We never go this to work, likely will be super-ceded by the website redesign.

[2021-08-16 19:39] #1 closed

[2021-08-23 01:59] chrisflesher opened #26 "Setup rcvfortexas dropbox and github accounts"
It might be nice to use something other than my chris.flesher@gmail.com accounts so that everyone can get access. It might be nice to get GMail accounts working before this?

[2021-08-23 02:03] chrisflesher commented on #25
It looks like we need to upgrade our NationBuilder plan to get custom permission sets.

[2021-08-23 02:04] chrisflesher commented on #25
https://nationbuilder.com/pricing

[2021-08-23 02:17] chrisflesher commented on #25
Actually it looks like we have a single custom permission set on our current plan called "Staffer". Maybe we can get by with this for now.

[2021-08-25 01:27] alexkarjeker commented on #24
I can take this up.

[2021-08-25 01:44] #10 closed

[2021-08-25 01:44] #12 closed

[2021-08-25 16:20] ironunicorn commented on #23
I looked into this issue and messaged Kathryn with my findings in slack. Essentially, we need to set up google workspace (which should be free for nonprofits) and then link that with the domain. I recommend that someone higher than me in the organization do this because whoever sets this up will have a lot of administrative power: https://www.google.com/nonprofits/

The setup should be fairly stra

[2021-08-29 01:18] chrisflesher commented on #23
Thanks for the info! We signed up for Google non-profits today, hopefully in 2-14 business days we will get notification if we've been approved.

[2021-08-29 14:07] ironunicorn commented on #22
@chrisflesher I'd like to help out with this issue, but I'm not exactly sure which volunteer categories or which form you're talking about. There's the [https://www.rcvfortexas.org/volunteer_1](https://www.rcvfortexas.org/volunteer_1) page, but that's a form with categories. Do you want the categories removed from that form or moved somewhere else?

[2021-08-29 20:33] chrisflesher commented on #22
I am assuming @hwasserstrum has a Google Form that she'd like to use instead of the webpage volunteer form. I am guessing there is a tradeoff with ease of customization vs. ease of database entry. @hwasserstrum do you have an example of a form?

[2021-08-29 20:50] chrisflesher commented on #21
Kathryn says:
This seems pretty self-explanatory, we could show a preview before posting to the website to make sure the implementation looks ok.
- This is extremely easy to set up through the Nation Builder CMS tools.
- However:  I had both bank accounts in Nation Builder under "payment processors", but their tool got confused and simply stopped accepting any payments. This meant we had to contac

[2021-09-02 03:18] AceTylerCholine commented on #20
It's the "survey" link as highlighted in the attached picture. Thanks @ironunicorn

![Screenshot 2021-09-01 221713](https://user-images.githubusercontent.com/44661062/131776157-954f3ee0-82e3-4ef1-adc8-79c34c71a1f4.png)

[2021-09-03 01:11] hwasserstrum commented on #22
This is the Form: https://docs.google.com/forms/d/1MPIE12tL6raTShMYXKAPgNKEPYdxgXNqLCBsXglg4qk/edit?edit_requested=true. My thought is that by linking to the form instead of providing a list on the website we can have more specific volunteer options that we can easily update. What do you think?

    On Sunday, August 29, 2021, 03:33:17 PM CDT, chrisflesher ***@***.***> wrote:

I am assuming @hwass

[2021-09-03 14:35] ironunicorn commented on #20
@chrisflesher So I looked into this and the reason we're not seeing an underline for this link is because all anchor tags on the website have `text-decoration: none;` applied (line 326 in theme.scss).  If I edit that file it would mess up the styling for all the other links on the website.  If we wanted to be sticklers I'd recommend we shift all those css type selectors to class selectors, but it'

[2021-09-03 17:45] chrisflesher commented on #20
Yes, go ahead and update the website directly! Nice work figuring this out.

On Fri, Sep 3, 2021 at 9:35 AM Irene Foelschow ***@***.***>
wrote:

[2021-09-03 19:10] ironunicorn commented on #20
Okay! I've updated the content. @AceTylerCholine Please let me know if you'd like to see any other style tweaks.

![Screen Shot 2021-09-03 at 2 07 57 PM](https://user-images.githubusercontent.com/11695752/132055026-a6138505-9076-4f72-8cba-d2a70aac6da5.png)

[2021-09-05 20:47] ironunicorn commented on #22
Thanks for clarifying, @hwasserstrum

So, yes, it's just like Chris said. It's possible to link to your google form and then periodically [import responses](https://support.nationbuilder.com/en/articles/3021365-import-people) into nation builder for email capabilities. You can also just continue to [add to your custom field](https://support.nationbuilder.com/en/articles/2362823-create-custom-peopl

[2021-09-06 01:25] hwasserstrum commented on #22
I'd appreciate an explanation and a recommendation. If you are ok talking on Labor Day, pick any time and let me know. If not, please suggest any time after 3pm on Wednesday or after 1pm on Thursday.ThanksHarriet
    On Sunday, September 5, 2021, 03:47:22 PM CDT, Irene Foelschow ***@***.***> wrote:

Thanks for clarifying, @hwasserstrum

So, yes, it's just like Chris said. It's possible to link to

[2021-09-06 22:13] ironunicorn commented on #22
Harriett and I chatted and came up with a way forward:

We're going to keep things in nationbuilder, but we're going to divide up the volunteer types into categories so it's easier to look at a longer list of checkboxes.  In order for this to work, the tags will have to follow a naming convention of `category - specific volunteer opportunity`. Each `category` will be displayed above a list of corr

[2021-09-07 21:22] ironunicorn commented on #22
@hwasserstrum [here's](https://rcvfortexas.nationbuilder.com/admin/sites/1/themes/5dabb2094445ea66232bca7e/preview?browser_id=default&logged_in=0&page_id=46) what I have so far. DO NOT HIT THE PUBLISH BUTTON.

Obviously, the categories will change, but for now I wanted to make it so they still looked reasonable on the current website. I kept the styling super simplistic because I'm not good at des

[2021-09-08 13:24] hwasserstrum commented on #22
Printed below is what you included with my suggested changes in red. Hope this is not too much for the website page.ThanksHarriet
Live Outreach  Research events  Gather signups at future eventsSupporter Outreach
 Make calls to new supporters

Personal Outreach

 Host a virtual or live event house party

Communications

 Post to social media

 Write Letters to the Editor
 Develop content for websit

[2021-09-10 23:56] chrisflesher commented on #20
Seems like this is resolved.

[2021-09-10 23:56] #20 closed

[2021-09-12 17:08] ironunicorn commented on #22
@hwasserstrum Confirming the changes are live and that I've updated the website to include all the options from the action signup form you shared. Please let me know if anything needs changing.

[2021-09-13 01:32] hwasserstrum commented on #22
Thanks for doing this -- it looks great. Here are two minor changes:Please add under Live Outreach - Gather signups at future events.Please delete under Messaging Team -  Design graphic template for presentations and meeting agendas.Thanks
Harriet
    On Sunday, September 12, 2021, 12:08:23 PM CDT, Irene Foelschow ***@***.***> wrote:

@hwasserstrum Confirming the changes are live and that I've upd

[2021-09-13 11:18] ironunicorn commented on #22
Okay, updated!

[2021-09-13 12:40] hwasserstrum commented on #22
thanks!
    On Monday, September 13, 2021, 06:18:42 AM CDT, Irene Foelschow ***@***.***> wrote:

Okay, updated!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-09-19 18:24] #25 closed

[2021-09-19 18:24] chrisflesher commented on #23
We got accepted to Google for Nonprofits and set up some initial e-mail accounts.

[2021-09-19 18:24] #23 closed

[2021-09-19 18:25] chrisflesher commented on #22
It looks like this is working on the website.

[2021-09-19 18:25] #22 closed

[2021-09-19 18:37] hwasserstrum commented on #23
Thanks! Emails are working. Are you going to set up the Google drive or is it already set up and we just need to know how to access it?

Sent from my iPad

[2021-09-19 18:58] chrisflesher commented on #23
This is already set up, you just need to go to drive.google.com and in the top right corner select your harriet.wasserstrum@rcvfortexas.org account. There is nothing on the drive right now, we'll need to create shared folders and move stuff from the other google drive sites. Will make a new issue for this.

[2021-09-20 12:51] chrisflesher opened #28 "Verify GitHub push works"
We moved the GitHub stuff to this new site, it would be nice to verify that people can push directly. To do this:

- Make a new branch `git checkout -b feature/test-github-push`
- Edit a trivial file (e.g. README.md) and commit the changes `git commit -am "Trivial edit to README.md"`
- Push the branch to GitHub `git push origin feature/test-github-push`
- Create a new [pull request](https://github

[2021-09-20 13:31] chrisflesher opened #29 "Write up how to forward GMail from rcvfortexas.org accounts"
We made some new rcvfortexas.org e-mail accounts. If people don't log into these accounts very often it may be more convenient to synch with their pre-existing e-mail accounts somehow. Need to write up how to do this and verify it works with a few people before sending out the instructions to the whole team.

[2021-09-21 12:27] chrisflesher commented on #28
It looks like @DJ-Eckam tried this out and it worked.

[2021-09-21 12:27] #28 closed

[2021-09-21 23:49] DJ-Eckam opened #31 "Make Donation page use the same template; remove breadcrumbs"

[2021-09-22 00:09] chrisflesher opened #32 "Landing Page"
From Harriet: Our October 5 meeting is listed under events but is there an easy way to make the invitation the landing page for our website from now until that date?

[2021-09-22 01:52] ironunicorn commented on #24
So I found this civic information api that returns your representatives given your address: https://developers.google.com/civic-information/docs/v2/representatives/representativeInfoByAddress

I was wondering if I could make this on our rcvfortexas.org website instead of having a link that redirects folks elsewhere. Let me know if it's cool to grab this issue. I don't want to step on anyone's toes

[2021-09-22 02:29] DJ-Eckam commented on #32
I think instead of just making the invitation the main landing page, it makes more sense to add a prominent link to the home page. I've done that. I put it below the "Why" section. Would've liked to put it above that but that is the page headline which is set separately from the content so I couldn't figure out how to do that.

Let me know what you think of how it is now.

[2021-09-22 04:06] DJ-Eckam commented on #32
Okay, on 2nd thought, I figured out how to make it better, putting this info at the top -- just make the headline the new message headline. (Still getting used to NB.)

[2021-09-22 10:58] ironunicorn commented on #29
Would it be okay to just refer these people to google's instructions? https://support.google.com/mail/answer/10957?hl=en#zippy=%2Cturn-automatic-fowarding-on-or-off

[2021-09-22 12:06] hwasserstrum commented on #24
I tried to use the API that popped up but couldn't get it to work. If it actually returns the levels of offices like the link Alex found, I don't care which one we use. I don't know the status of what Alex was going to do. 
Here is what Alex sent to ***@***.***>UnsubscribeTo:chrisflesher/rcvfortexasCc:hwasserstrum,MentionWed, Aug 25 at 2:28 PM

@hwasserstrum - just to confirm the functionality, do

[2021-09-22 13:04] ironunicorn commented on #24
Yes, it returns all the levels of representation the "Who Represents Me?" website provides. Do we need all of them? I was considering just showing the state level house and senate representatives.

[2021-09-22 13:51] hwasserstrum commented on #24
My first thought was to include everyone someone votes for below President.  That way we could also use it when we try to identify local jurisdictions that might want to be early adopters. When I just used the link Alex sent, it included my State Board of Education representative but not my Houston Independent School District one or my Bellaire Mayor/City Council so it wouldn't serve that purpose.

[2021-09-22 19:06] alexkarjeker commented on #24
Hi all - I don't want to be a blocker here.

@Irene - happy to free up the task for you.

On Wed, Sep 22, 2021 at 6:52 AM hwasserstrum ***@***.***>
wrote:

[2021-09-22 20:34] chrisflesher opened #34 "There can be only one"
We decided at the last meeting to have only a single custom theme on GitHub to make it easier to compare changes. We can still have multiple custom themes at once by creating more folders on Dropbox.

Some options for doing this are:
- revert the changes from PR #30
- merge the two custom theme folders back into one

[2021-09-22 21:27] ironunicorn commented on #24
Okay, thanks Alex! I'll get to it as soon as I'm back from my roadtrip.

[2021-09-23 00:41] #34 closed

[2021-09-23 00:42] #32 closed

[2021-09-23 00:44] #31 closed

[2021-10-03 14:51] chrisflesher opened #36 "Set up AdWords"
Google Nonprofits allows us to get up to $10k/mo in AdWords to get people to our website. Need to set this up to get more people to our website.

[2021-10-10 14:05] chrisflesher opened #38 "Rankit polls"
From Harriet: At the statewide meeting, someone from Austin suggested housing a bunch of Rankit polls on a website so people can respond to whichever they find of interest and see how RCV votes. I could see that as a separate bullet under About RCV.

[2021-10-13 14:59] chrisflesher commented on #24
It seems like it would be really confusing to re-purpose unused pages...
hopefully there is a way to create a new custom file? NationBuilder support
usually responds in 24 hours.

On Wed, Oct 13, 2021 at 7:33 AM Irene Foelschow ***@***.***>
wrote:

[2021-10-13 17:41] ironunicorn commented on #24
Oh! Yes, this is super helpful. Thanks @DJ-Eckam ! I created a custom template page `contact_elected_official` and I just now noticed it's in dropbox in the `sites` folder. So is it possible to just edit this file however I want and it'll load under https://www.rcvfortexas.org/contact_elected_offical?

I don't know why NationBuilder support didn't tell me about this...

[2021-10-13 19:43] chrisflesher commented on #24
Congrats!

On Wed, Oct 13, 2021 at 1:52 PM Irene Foelschow ***@***.***>
wrote:

[2021-10-13 19:48] ironunicorn commented on #24
@hwasserstrum I've got a preview of this page [here](https://rcvfortexas.nationbuilder.com/admin/sites/1/pages/79/preview?browser_id=default&logged_in=0&theme_id=5dabb2094445ea66232bca7e). Please let me know if you'd like me to tweak anything.

[2021-10-14 00:14] hwasserstrum commented on #24
The page looks great but why is my State Senator the only one with an email address? The others just have phone number. Also, how does a website user find this page?ThanksHarriet
    On Wednesday, October 13, 2021, 02:48:14 PM CDT, Irene Foelschow ***@***.***> wrote:

@hwasserstrum I've got a preview of this page here. Please let me know if you'd like me to tweak anything.

—
You are receiving thi

[2021-10-14 18:51] hwasserstrum commented on #24
Here is where the link goes: https://wrm.capitol.texas.gov/home which is where your Who Represents Me link goes. If you click on the legislator's name you can easily see phone number and email address (or structured email message capability). With the link  you sent earlier today, I got to a dead end for several of my legislators without getting an email address.
    On Thursday, October 14, 2021,

[2021-10-14 22:37] ironunicorn commented on #24
Harriet and I chatted and right after the call I was able to reproduce her bug. I'm going to change the code so the links open in new tabs since this will fix the problem (and I think it'll also be a nicer user experience).

[2021-10-15 17:28] chrisflesher opened #40 "Lint tool"
Add automated tool to GitHub for checking syntax (e.g. for html, scss)

[2021-10-17 17:21] DJ-Eckam opened #41 "Upgrade site theme & structure"

[2021-10-17 21:45] hwasserstrum opened #42 "Consolidate tags"
There are a lot of old tags and some new ones based on the revised volunteer page. The attached file is an attempt to merge tags as appropriate. Existing tags are numbered in column A and suggested merges are indicated by a capital letter in column C. Those tags designated with a capital letter are named in column F. Existing tags that remain are indicated in lower case letters in column c. There

[2021-10-20 01:25] chrisflesher commented on #42
Here is a good reference for the tag naming system:
https://support.nationbuilder.com/en/articles/2305680-how-to-use-tags

[2021-10-23 19:33] #41 closed, assigned to DJ-Eckam

[2021-10-24 18:55] DJ-Eckam opened #44 "New style for Donate button and new design for donation type selector"
Donate button will get new colors.

We'll use radio buttons to more clearly convey to the user how they can switch from donating to the 501c3 to the c4.

[2021-10-27 01:36] #44 closed, assigned to DJ-Eckam

[2021-10-28 01:54] DJ-Eckam opened #46 "Remove 'don't publish this' checkbox & social media widget & change news link"

[2021-10-31 22:19] DJ-Eckam commented on #46
Done

[2021-10-31 22:19] #46 closed

[2021-11-05 18:06] DJ-Eckam opened #48 "remove sidebar from new theme; plus misc. updates"
Updates for this ticket:
. remove sidebar in template
. change 'event' to 'events' in home page news box
. fix mobile layout problem on home page (DONE in the NB interface w/o code changes)
. remove get_involved template
. add country field back to signup page custom template
. hide the "parent" link in nav submenus in mobile mode -- redundant since our convention is it redirects to the 1st subpag

[2021-11-08 14:08] #48 closed

[2021-11-13 03:14] chrisflesher opened #50 "Investigate Instagram / LinkedIn integration with NationBuilder"
Harriet and Megan can see which users are coming from Facebook and Twitter but not Instagram and LinkedIn. Investigate what tie in there is with these platforms and NationBuilder.

[2021-11-13 03:16] chrisflesher commented on #50
Harriet and Megan can see which users are coming from Facebook and Twitter but not Instagram and LinkedIn. Investigate what tie in there is with these platforms and NationBuilder.

[2021-11-14 16:25] DJ-Eckam opened #51 "Tweaks for site functioning"
1. The donation type selector on the Donate pages should be clickable by the label, as well as the button.
2. Graphics on the "why use RCV" page need to be made to appear as the same size (mostly a mobile problem). [DONE in NB]
3. Update "next event" text on home page.

[2021-11-21 19:33] chrisflesher commented on #29
Ok, thanks for putting this together! Added these instructions to the following doc:
https://docs.google.com/document/d/1mtPTu5_Xlxeyy2WhcWMGVPDyGZayLhYQKtMHVfwWeWc/edit

[2021-11-21 19:33] #29 closed

[2021-11-21 20:44] ironunicorn commented on #38
@DJ-Eckam @hwasserstrum would you people be the right ones to ask about this?

I'm thinking of just hosting a rankit.vote poll in an iframe (meaning just put a box on one of our webpages that displays the rankit.vote poll page). Does that sound good? If so, which page would be best to do this (maybe here: [https://www.rcvfortexas.org/what_is_rcv_1](https://www.rcvfortexas.org/what_is_rcv_1))?  Als

[2021-11-21 21:06] DJ-Eckam commented on #38
Sorry, I thought I had assigned this to myself. I contacted NB support about it and just saw their response. Will need a custom page template which is no big deal. My understanding from Harriet was that this should be a separate page so I have created a test page with the slug /rankit_polls. I will have it working as a test soon.

[2021-11-21 21:33] DJ-Eckam commented on #38
@ironunicorn I'll be happy to hand this off to you if you want to work on it. I just sent a follow-up question to NB about how to combine a custom template w. the "Content" tab and will update when I hear back from them.

[2021-11-21 21:39] ironunicorn commented on #38
Oh no! This ticket was just mentioned in the technology meeting and I volunteered. It sounds like you have a handle on it so I'll defer to you.

[2021-11-22 00:35] hwasserstrum commented on #38
There is a favorite apple pie survey going on now on our social media for Thanksgiving and there will be one on favorite cookie for National Cookie Day coming up shortly thereafter. See below.

|
Nov 24  Wednesday: Fatima:
 |
|
Post 1 Headline: Thanksgiving Poll Time

Body copy: What’s your favorite Pie? Click on the link to vote using Ranked Choice Voting! See how RCV works in real time. 

Image:

[2021-11-24 13:53] DJ-Eckam commented on #51
Done

[2021-11-24 13:53] #51 closed

[2021-12-02 00:10] DJ-Eckam opened #53 "Trick out the home page so it automatically shows the next event"

[2021-12-03 14:08] chrisflesher opened #55 "Automatically generate list of new volunteers"
Can Supporter Outreach get weekly file of all new volunteers in automated way?

[2021-12-04 15:47] chrisflesher opened #56 "Automatically match NationBuilder names to accounts on LinkedIn or Facebook"
Is there an automated way to match NB names to accounts on LI or FB?

[2021-12-08 22:17] DJ-Eckam commented on #53
Done.

[2021-12-08 22:17] #53 closed

[2021-12-08 22:18] DJ-Eckam opened #57 "Create Thank You page for post-donation"

[2021-12-09 20:35] DJ-Eckam commented on #57
We need 2 identical pages, for GA tracking purposes -- one for the 501c3 donations and one for 501c4.

So I'm trying to think of two slugs -- "thank_you" and "thank_you_1" maybe? But @ironunicorn I remember you said you don't like numbers like that in page slugs, and I sort of agree. Just thought I'd ask, do you have an opinion on what two slugs I should use here?

[2021-12-09 20:40] ironunicorn commented on #57
I think it's fine in this case. Or maybe you could do something like
"thank_you_c3" and "thank_you_c4".

On Thu, Dec 9, 2021 at 2:35 PM DJ-Eckam ***@***.***> wrote:

[2021-12-10 02:03] chrisflesher opened #58 "Automate RSVP reminder e-mail"
Investigate if it is possible to send a reminder e-mail to people who have RSVP'd for an event. If possible automatically send them a reminder the day before. (requested by Brian Dorfman, the Social Outreach lead)

Some relevant info:
https://support.nationbuilder.com/en/articles/2363242-events-creation-to-completion#step-2-email-RSVPs
https://support.nationbuilder.com/en/articles/3497865-workflow

[2021-12-10 19:16] DJ-Eckam commented on #57
Done; no git-managed changes were needed.

[2021-12-10 19:16] #57 closed

[2021-12-11 04:39] chrisflesher opened #59 "Post events to Facebook"
From Harriet: Can you please keep track of new events posted on our website and create events for them on FB.

[2021-12-11 04:55] chrisflesher commented on #59
Am wondering if there a way to do this automatically somehow?

[2021-12-14 02:08] dsgit215 commented on #59
I don't see anything in the NationBuilder support content about setting up automated FB posts for newly published events.  However, a Zap might work...if you want to invest in that service.  More info below.  This would need to be vetted by tech as I only have limited experience using Zaps under the "free" subscription level.

https://zapier.com/apps/nationbuilder/integrations/facebook-pages

![im

[2021-12-14 03:52] DJ-Eckam commented on #59
It looks like Zapier would probably be able to create a Facebook *post* (linking to the event on our site) when an event is created, but I don't see anything about creating a Facebook *event*.

One issue, if that were possible, would be what image to use on FB.

[2021-12-14 04:05] DJ-Eckam commented on #58
Looks like NB's way to do this is to schedule an email blast using a filter defined as "has rsvp'ed to" a selected event. This page explains: https://support.nationbuilder.com/en/articles/2363242-events-creation-to-completion#step-2-email-RSVPs

- but it's a little out of date - instead of clicking "Filter", click on the Y-shaped icon (representing filtering)... and in the Add Criteria menu, look

[2021-12-14 04:07] DJ-Eckam commented on #58
Sorry, just noticed that URL is a duplicate of what Chris posted.

I guess the question is, can whoever creates the event also handle these steps? Or should it be someone else's responsibility?

[2021-12-19 20:31] DJ-Eckam opened #60 "Email year-end donation reports"
Harriet asked for year-end donation reports. I sent the following to NB support:
Hello,

Could you tell me what is the best way to send donors a year-end summary of their donations? Preferably, it could be automatic and scheduled, but if that's not possible, whatever would work best.

We have two orgs for the website, with separate donation pages, one a C3 and the other C4. I think we will need to

[2021-12-19 20:32] DJ-Eckam commented on #60
Here is the response I got from NB support:

Hi Dan,

Thanks for reaching out, thanks for your patience as well. There is a way to do this via customizing the source code in the email blast.

You will want to copy and paste the source code below in your email blast content editor.

<p>{{recipient.first_name_or_friend}} -- <br /><br />Here are your donations for the year:</p>

<p>&nbsp;</p>

<p>{%

[2021-12-19 20:33] DJ-Eckam commented on #60
looks like it does not distinguish between our two entities, the c3 and the c4, and I suppose we need that.

[2021-12-20 13:59] chrisflesher commented on #59
It seems like a good idea to make NationBuilder events the "source of truth" and just have posts linking to them on Facebook. @DJ-Eckam are you mostly the one making events these days or is it John Thomson or someone else?

[2021-12-20 14:01] chrisflesher commented on #40
@DJ-Eckam what code editor do you use, is it VSCode?

[2021-12-20 14:06] chrisflesher commented on #38
I tried using the RankIt tool but could not access any of the polls listed on the RCV website once logged in.

[2021-12-20 14:12] chrisflesher commented on #60
On the liquid page (https://nationbuilder.com/donation_variables) it says
there is a donation.tracking_code_slug. Wondering if we could use that
somehow?

On Sun, Dec 19, 2021 at 2:33 PM DJ-Eckam ***@***.***> wrote:

[2021-12-20 14:15] chrisflesher commented on #60
Maybe that variable would say what page the donation was made from?

On Mon, Dec 20, 2021 at 8:12 AM Christopher Flesher ***@***.***>
wrote:

[2021-12-20 15:06] DJ-Eckam commented on #40
yes, VSCode

[2021-12-20 15:07] DJ-Eckam commented on #59
It's not me, I don't know who is making events.

[2021-12-20 15:15] chrisflesher commented on #60
I tried this using NationBuilder filters and it looks like that variable will tell you whether or not the donation is tax deductible (donate) or non-tax deductable (donate_3). At least from the point where we set up the new donation pages...

[2021-12-20 15:31] dsgit215 commented on #59
It looks like it's Harriet...unless someone else is using her NB profile.

[2022-01-01 18:24] hwasserstrum commented on #38
I have been told that the only tool that can be used on a website is from rankedvote.com which costs $60/month. I don't know if that is true. Dan has been trying to add polls to our website and might have further insight to add.Harriet
    On Monday, December 20, 2021, 08:07:05 AM CST, chrisflesher ***@***.***> wrote:

I tried using the RankIt tool but could not access any of the polls listed on t

[2022-01-06 20:52] DJ-Eckam commented on #38
I've seen Rankit be unavailable in the past so maybe it is not so stable. The links on our What Is RCV? page all work for me, once I'm logged in. Is it possible they were having a "glitch" when Chris tried it?

I think Rankit basically works, it's just not the greatest user experience, especially in its embedded form which we've opted not to use, in favor of links.

[2022-01-08 15:19] chrisflesher commented on #38
I tried the link again and am not seeing any polls. Can anyone else see them? Or am I just getting unlucky?

[2022-01-13 03:36] #36 closed

[2022-01-13 03:37] chrisflesher commented on #58
Put the instructions for this in this doc:
https://docs.google.com/document/d/1HRaqPZ05-ZM_GwuecKIIUkyE5mFZZ7Vsz66EPxCv14A/edit

[2022-01-13 03:37] #58 closed

[2022-01-13 03:37] chrisflesher commented on #59
This got made into a procedure here:
https://docs.google.com/document/d/1HRaqPZ05-ZM_GwuecKIIUkyE5mFZZ7Vsz66EPxCv14A/edit

[2022-01-13 03:37] #59 closed

[2022-01-13 14:11] DJ-Eckam commented on #38
I think I've managed to get attention to the issue by tweeting at Fairvote -- we exchanged messages and I'm hopeful they will address the problem soon.

[2022-01-18 22:44] alexkarjeker commented on #50
NationBuilder has specific integrations between Facebook and Twitter. These types of integrations don't exist for Instagram or LinkedIn.

However, if there are specific actions in NationBuilder (like creating a new contact or adding a contact to a list) that we would like to have occur when certain Instagram actions occur (new media posted), we can set those up in a service called Zapier. (see exa

[2022-01-22 15:13] chrisflesher commented on #60
I think this is finished now?

[2022-01-22 15:16] chrisflesher opened #62 "Start using AdWords"

[2022-01-22 16:14] chrisflesher commented on #60
Dan says not yet.

[2022-01-22 18:09] #55 closed

[2022-01-25 20:13] DJ-Eckam commented on #38
okay I believe this problem is fixed now. I was using the wrong URLs for voting -- d'ohh!

[2022-01-28 19:02] #38 closed

[2022-01-29 20:14] DJ-Eckam commented on #60
The email was sent today -- find it in the system as "Year 2021 Donation Report". Here are the main specs of the email, for future reference:
1. The recipients were defined as everybody who had made a donation during 2021. Harriet defined this group using tags, one for the one-time donors and another for recurring donors.
2. The group included some people who had not donated through the website bu

[2022-01-29 22:00] hwasserstrum commented on #38
Thanks! Looks good.
    On Friday, January 28, 2022, 01:02:28 PM CST, DJ-Eckam ***@***.***> wrote:

Closed #38.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-01-31 23:55] #60 closed

[2022-02-01 13:15] chrisflesher opened #63 "Import CSV data"
From Harriet:
I don't want to import people, just import a few fields for existing people. Please set up a task to import data to match the people and input primary city, county, and state.

Data
https://docs.google.com/spreadsheets/d/1N78J8GpGeZNiCeo1sEzSuxthx7JnVrCQ/edit?usp=sharing&ouid=102988151650949944855&rtpof=true&sd=true

Instructions:
https://support.nationbuilder.com/en/articles/2953149

[2022-02-09 22:51] hwasserstrum opened #64 "What happened to the [info@rcvforrtexas.org](mailto:info@rcvforrtexas.org) email?"
We used to receive messages sent to [info@rcvfortexas.org](mailto:info@rcvfortexas.org). I could see those messages by going to Communication and viewing activity. Now the sender gets an "Address not found" message: Your message wasn't delivered to [info@rcvfortexas.org](mailto:info@rcvfortexas.org) because the address couldn't be found, or is unable to receive mail. The last messages we received

[2022-02-12 20:53] chrisflesher commented on #56
We decided to abandon this because the technology team thought it was an invasion of privacy. Brian is currently doing this manually to reduce duplicates on NationBuilder and the team leads thought this was ok for now.

[2022-02-12 20:53] #56 closed

[2022-02-12 20:55] chrisflesher commented on #50
Hexel had used IFTTT before (seems similar to Zapier) to automate some stuff for a previous campaign he had worked on.

[2022-02-12 20:56] chrisflesher commented on #42
@hwasserstrum @ironunicorn is this complete?

[2022-02-12 21:06] chrisflesher commented on #64
I think this must have happened when we set up the GMail stuff through Google. I am guessing before someone had set up our e-mail through NationBuilder before and this got messed up whenever we made the switch. Set up a new info@rcvfortexas.org account through GMail today and will ask NationBuilder how to re-enable this.

Here is some related info:
https://support.nationbuilder.com/en/articles/234

[2022-02-12 21:15] chrisflesher commented on #42
We have an existing document from Rank the Vote on tag naming conventions:
https://docs.google.com/document/d/1nB5Up22Xs7lbUrWAZGj9MEQktIXTa5PJ/edit

Do you guys think we should update this document for our own system or should we delete it and just point people to use the NationBuilder suggestions? Or something else?
https://support.nationbuilder.com/en/articles/2305680-how-to-use-tags

[2022-02-12 21:19] chrisflesher opened #65 "Reconnect Twitter Account"
In NationBuilder I'm seeing the message on the Communications tab:
[ERROR](https://rcvfortexas.nationbuilder.com/admin/broadcasters/1/twitter) [Please reconnect Twitter account](https://rcvfortexas.nationbuilder.com/admin/broadcasters/1/twitter)"

[2022-02-12 21:20] chrisflesher commented on #64
This link seems to have the fix:
https://support.nationbuilder.com/en/articles/2343596-forward-email-to-a-broadcaster

[2022-02-12 23:03] hwasserstrum commented on #64
So someone will be assigned to fix it? That would be great.ThanksHarriet
    On Saturday, February 12, 2022, 03:21:00 PM CST, chrisflesher ***@***.***> wrote:

This link seems to have the fix:
https://support.nationbuilder.com/en/articles/2343596-forward-email-to-a-broadcaster

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for

[2022-02-14 13:25] chrisflesher commented on #62
![Screenshot from 2022-02-14 07-23-37](https://user-images.githubusercontent.com/1332458/153872487-ea82a2ee-9c07-47c6-8836-75ebce52e7b5.png)

[2022-02-14 13:25] #62 closed, assigned to chrisflesher

[2022-02-21 14:11] hwasserstrum opened #66 "Import CSV file"
Please import all of the voting districts for these 938 records
[harriet (1).csv](https://github.com/rcvfortexas/rcvfortexas/files/8109807/harriet.1.csv).
Please prioritize this task.
Thanks
Harriet

[2022-02-22 20:49] chrisflesher commented on #66
@alexkarjeker or @ironunicorn would you be interested in looking at this?

[2022-02-22 20:52] chrisflesher opened #67 "Google Ads Sign In"
When I go to [ads.google.com](http://ads.google.com/) and sign is as [harriet.wasserstrum@rcvtexas.org](mailto:harriet.wasserstrum@rcvtexas.org) I get a message saying that I do not have any Google ads accounts.

[2022-02-22 22:18] alexkarjeker commented on #66
@chrisflesher - I can work on it ahead of Sunday's meeting.

[2022-02-22 22:26] hwasserstrum commented on #66
That would be great. Thanks!
    On Tuesday, February 22, 2022, 04:18:43 PM CST, alexkarjeker ***@***.***> wrote:

@chrisflesher - I can work on it ahead of Sunday's meeting.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-02-23 15:19] chrisflesher commented on #63
Duplicates #66

[2022-02-23 15:19] #63 closed, assigned to nobody

[2022-02-24 13:26] hwasserstrum opened #68 "Supporters page"
Please create a page similar to this one on FairVote Minnesota's website: https://fairvotemn.org/mnsupporters.

At this time we only want to list these organizations:
R Street
Common Cause - Texas
Veterans for Political Innovation
League of Women Voters - Texas

Logos for each organization are attached. I'd also like to include supporting statements shown here:
(https://docs.google.com/spreadsheet

[2022-02-27 20:30] #65 closed, assigned to chrisflesher

[2022-02-27 20:30] chrisflesher commented on #65
Fixed

[2022-02-27 22:51] chrisflesher commented on #64
This is working again now. Verified that messages sent to info@rcvfortexas.org show up in the communications dashboard.

[2022-02-27 22:51] #64 closed, assigned to chrisflesher

[2022-02-27 22:52] #40 closed

[2022-02-27 22:52] chrisflesher commented on #40
Abandoned this for now.

[2022-02-27 22:54] chrisflesher commented on #50
Think the important thing got resolved (setting up tracking for Linkedin / Instagram). It looks like it is possible to do integrations with Zapier or IFTTT if we want to at some point in the future.

[2022-02-27 22:54] #50 closed

[2022-02-28 16:19] hwasserstrum commented on #42
I think both documents provide some useful information.
    On Saturday, February 12, 2022, 03:15:17 PM CST, chrisflesher ***@***.***> wrote:

We have an existing document from Rank the Vote on tag naming conventions:
https://docs.google.com/document/d/1nB5Up22Xs7lbUrWAZGj9MEQktIXTa5PJ/edit

Do you guys think we should update this document for our own system or should we delete it and just point p

[2022-03-03 02:42] dsgit215 commented on #68
UPDATE:  Ok @chrisflesher, I saw the invite and accepted it.  This item is now assigned to me.

_@chrisflesher - I'm still unable to assign the issue to myself._

I'll take this.  My availability is spotty over the next several days, but I anticipate getting started soon.

[2022-03-05 03:54] dsgit215 commented on #68
@chrisflesher, @hwasserstrum - A preview of the page can be viewed[ here](https://rcvfortexas.nationbuilder.com/admin/sites/1/pages/127/preview?browser_id=default&logged_in=0&theme_id=5dabb2094445ea66232bca7e).  If you're unable to access this link, you can find the page, 'Supporters', in Nationbuilder in the sub-pages of 'About Us.'  Note: When the page is published, it's currently designated to

[2022-03-05 15:54] chrisflesher commented on #68
Looks good to me! What do you think @hwasserstrum?

[2022-03-05 16:06] chrisflesher opened #69 "Figure out how Dylan can get RSVP's"
Need to talk to dylan.macinerney@rcvfortexas.org (Austin chapter lead) and resolve the problem with RSVP's in NationBuilder. The notes I wrote down don't say exactly what the problem was.

[2022-03-05 16:08] chrisflesher opened #70 "Give Brian Dorfman description for new web person"
Brian Dorfman was going to try to find a new technical web person if we need help modifying the custom template stuff in the future. Need to give him a description of who we're looking for.

[2022-03-07 16:29] alexkarjeker commented on #66
Chatted with Chris and it seems like the districts are automatically in NB. Closing this task.

[2022-03-07 16:29] #66 closed, assigned to alexkarjeker

[2022-03-07 21:25] hwasserstrum commented on #66
I am traveling so can’t confirm it, but I think that is a new feature of NB or one we recently turned on. Good to know it will happen automatically going forward. Saved you some work!
Thanks
Harriet

Sent from my iPad

[2022-03-18 13:50] hwasserstrum commented on #68
Page looks great other than the fact that the Veterans logo didn't show up. Then we are set to go. We already have a couple of additions to the endorsements. Do we keep this item open or open a new one?ThanksHarriet
    On Friday, March 4, 2022, 09:54:50 PM CST, Debbie Spalding ***@***.***> wrote:

@chrisflesher, @hwasserstrum - A preview of the page can be viewed here. If you're unable to access

[2022-03-18 18:33] hwasserstrum opened #71 "Delete unsubscribed and people with no email or phone from NationBuilder"
We pay for NationBuilder based on number of people on the website. I'd like to periodically delete everyone who has unsubscribed but save their information someplace where we can access it if there is a reason to do so in the future.

[2022-03-19 18:36] dsgit215 commented on #68
I've re-inserted the Veterans logo and published the [page ](https://www.rcvfortexas.org/supporters ) with the current supporter listing.  I'll close this issue and @hwasserstrum - when you have additions, you can open a new issue.  - Debbie

[2022-03-19 18:37] #68 closed, assigned to dsgit215

[2022-03-19 18:38] hwasserstrum commented on #68
Looks great. Thanks!
    On Saturday, March 19, 2022, 01:36:58 PM CDT, Debbie Spalding ***@***.***> wrote:

I've re-inserted the Veterans logo and published the page  with the current supporter listing. I'll close this issue and @hwasserstrum - when you have additions, you can open a new issue. - Debbie

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the

[2022-03-23 20:19] hwasserstrum opened #72 "Supporters/Endorsements page"
Please change the name of the page to Endorsements.

Please divide the page into two sections: the top for Organizations; the bottom for Thought Leaders (unless you can think of a better way to distinguish the two!). The last two on this list are Thought Leaders; the top three are organizations with links to their logos.

Here are more to add:
Unite America believes that instant runoff voting (RCV

[2022-03-30 14:38] dsgit215 commented on #72
I should be able to get to this within the next several days.

[2022-04-01 19:03] dsgit215 commented on #72
@hwasserstrum - The updates have been made and published. You can take a look [here](https://www.rcvfortexas.org/endorsements).  Let me know if you'd like the organizations to be re-ordered in any particular way or  if you see anything else that needs adjusting.  - Debbie

[2022-04-01 19:59] hwasserstrum commented on #72
Looks great!ThanksHarriet
    On Friday, April 1, 2022, 02:03:20 PM CDT, Debbie Spalding ***@***.***> wrote:

@hwasserstrum - The updates have been made and published. You can take a look here. Let me know if you'd like the organizations to be re-ordered in any particular way or if you see anything else that needs adjusting. - Debbie

—
Reply to this email directly, view it on GitHub, or unsubscri

[2022-04-01 21:57] #72 closed, assigned to dsgit215

[2022-04-06 11:58] hwasserstrum commented on #42
I think there is a problem with how some volunteer tags are getting assigned. People signing up now are getting tags that include 2020 in the name and that shouldn't be happening. How can I see a report that shows for each category on the volunteer page which tag is now getting assigned?  Also, there is some old tag cleanup that still needs to happen.

[2022-04-06 15:58] hwasserstrum commented on #71
Also delete all records added when someone on FB likes us or someone on Twitter follows us. I just changed the default setting so new records won't be added going forward.

[2022-04-23 17:26] hwasserstrum opened #73 "Another endorsement; tighten existing page"
New endorsement:
There are cost savings and other advantages of instant runoffs. For example, it gets rid of the incentive for the opposition to fund a candidate to take a few percent from a nominee and allow the opposition to win even in a district where a majority oppose them. There is a role instant runoffs can play as part of election integrity. For example, Utah has done a great job of adopti

[2022-04-28 00:49] dsgit215 commented on #73
I should be able to get to this within the next week.

[2022-04-28 01:44] hwasserstrum commented on #73
Thanks!
    On Wednesday, April 27, 2022, 07:49:26 PM CDT, Debbie Spalding ***@***.***> wrote:

I should be able to get to this within the next week.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-05-01 16:02] hwasserstrum opened #74 "Contact Us form is broken"
I just sent a couple of test messages and the notification I receive does not include the text of the messages.

[2022-05-01 16:42] hwasserstrum opened #75 "Data project on bad emails"
If there is a phone number for any profile with a bad email address, text the person with this message: You signed up on the Ranked Choice Voting for Texas website and we would like to be able to send you action alerts and newsletters but there is a problem with your email address. Please text us a good address. Thanks.

[2022-05-03 18:01] dsgit215 commented on #73
Updates complete - [https://www.rcvfortexas.org/endorsements](https://www.rcvfortexas.org/endorsements).  With regard to the white space, the varying logo dimensions make this a little difficult and some breathing room is a good thing.  Nonetheless, I've tightened it up a little bit.  Take a look and if it works for you, let me know, and I'll close this item.

[2022-05-03 18:16] hwasserstrum commented on #73
It works. Thanks!
    On Tuesday, May 3, 2022, 01:01:31 PM CDT, Debbie Spalding ***@***.***> wrote:

Updates complete - https://www.rcvfortexas.org/endorsements. With regard to the white space, the varying logo dimensions make this a little difficult and some breathing room is a good thing. Nonetheless, I've tightened it up a little bit. Take a look and if it works for you, let me know, and I'll c

[2022-05-03 18:33] dsgit215 commented on #74
As you saw in your email, I've been playing with this.  I suspect that when you were testing it, the email that seemed to have missing message content was actually the confirmation email that the sender receives after submitting their message.  You should have also received an email with the actual message content --- like the one you received when I sent a test message.

I'm going to assume it's

[2022-05-03 18:34] #74 closed, assigned to dsgit215

[2022-05-03 18:35] #73 closed, assigned to dsgit215

[2022-05-03 19:05] hwasserstrum commented on #74
No, I didn't see that message which I now saw by looking up Micki Levine. Where can I see all messages sent?
    On Tuesday, May 3, 2022, 01:33:47 PM CDT, Debbie Spalding ***@***.***> wrote:

As you saw in your email, I've been playing with this. I suspect that when you were testing it, the email that seemed to have missing message content was actually the confirmation email that the sender receiv

[2022-05-03 19:26] dsgit215 commented on #74
You can see the messages submitted on the Dashboard for the Contact Us page - [https://rcvfortexas.nationbuilder.com/admin/sites/1/pages/37/activities](https://rcvfortexas.nationbuilder.com/admin/sites/1/pages/37/activities ).  Scroll to the lower portion of the page.

[2022-05-12 01:42] #70 closed, assigned to nobody

[2022-05-17 21:11] #67 closed, assigned to chrisflesher

[2022-05-30 19:46] chrisflesher commented on #42
Hey @alexkarjeker thanks for looking at this, here is a link to the remaining work:
https://docs.google.com/spreadsheets/d/1obBoGbWojf9DX9IARIyyu3CI9dfF_cr9/edit?usp=sharing&ouid=102988151650949944855&rtpof=true&sd=true

Also I'm not sure we ever came up with a system for formulating names in the future, if it makes sense to make a doc people can use to enforce naming conventions going forward?

[2022-05-31 22:48] hwasserstrum commented on #42
The document Chris linked to is pretty old. I've done a lot of cleanup since then. The new problem I identified in April related to how some old tags were being assigned to new accounts. I think I already cleaned that up too. 
I'd like to try to merge the Take Action and Volunteer pages which would result in further chances to tags so please hold off on this issue. I agree that a document on namin

[2022-06-03 22:40] ghost commented on #71
Happy to help with this. I have an account on the NB site (username = austinbegin), but I guess I'm missing some permissions.

[2022-06-04 12:38] chrisflesher commented on #71
Hey Austin, you should have permissions now.

On Fri, Jun 3, 2022 at 5:40 PM austinbegin ***@***.***> wrote:

[2022-06-04 14:43] ghost commented on #71
Indeed I do. I will get to work on this. I will create a spreadsheet in the shared Google Drive for the Tech team to put the removed people, either for opting out, missing contact info, or interacting with social media.

[2022-06-04 16:14] ghost commented on #71
I created a list in NB called "social_media_people_to_remove" and cross-checked it to make sure to volunteers were not removed. The list contains those added to the database from Facebook and Twitter. An admin will need to go into the list settings and click "Delete people from nation" next.

[2022-06-04 17:36] chrisflesher commented on #42
Hi Harriet, to close this issue it sounds like we just need to create a document describing existing naming conventions? Anything else? Austin is already working on issue #71.

[2022-06-04 17:49] chrisflesher commented on #71
Backed up the database and deleted the list you made, thanks!

[2022-06-04 18:49] hwasserstrum commented on #71
How do I access the list of people who were deleted?

[2022-06-04 19:01] chrisflesher commented on #71
They're on the GDrive here:
https://docs.google.com/spreadsheets/d/19095gHdq2nEWbqjHNTsIqAzjv3e7hazjMXLWbZdbb_w/edit#gid=0

[2022-06-04 19:04] ghost commented on #71
Thanks, Chris. I still need to go through those without emails/phone numbers and those opted out of communication, so this is issue is technically not completed yet.

[2022-06-04 20:09] ghost commented on #71
The "people_to_remove" list in NB now has those who only have an email but are opted-out of communication or the email is bad as well as some more social media stragglers. They have once again been saved in the Google Drive spreadsheet. Let me know if any other groups need to be filtered out. Not sure if we are keeping those who only have phone numbers yet opted-out of texts.

[2022-06-04 22:26] hwasserstrum commented on #71
I would like to understand the parameters you used. The first group I wanted removed but saved was those who unsubscribed. There were 286 of them on a file I downloaded on 4/4/22. The second group I wanted totally deleted were people with both no email and no phone number. I think all oof those people had records set up when they liked us on Facebook or Twitter. There were probably about 1500 of t

[2022-06-04 23:10] ghost commented on #71
I used this filter to find the social media stragglers. The first group that was removed was using a different filter that somehow missed these 69 people that are included in the 175. Those people removed earlier did not have any phone or email info but definitely were added via social media. Those removed are in the Google Drive linked above (first page).
![Criteria3](https://user-images.githubus

[2022-06-05 16:23] hwasserstrum commented on #71
Thanks, this helps. Your file of People Removed (N=916) looks good. Please take the 68 "stragglers" on your People to Remove list off NB and add them to the People Removed file. While I initially wanted the Unsubscribed taken off of NB so we wouldn't have to pay for them, let's leave those 290 unsubscribed on NB for now as we are dealing with costs due to a large file we just imported for a textin

[2022-06-07 15:53] ghost commented on #71
Done. The 69 are ready to be removed when ready. They are in the people_to_remove list in NB.

[2022-06-07 16:09] hwasserstrum commented on #71
Thanks for picking up the social media stragglers to delete and adding them to the People Removed document in our Google Drive.
    On Tuesday, June 7, 2022, 10:53:20 AM CDT, austinbegin ***@***.***> wrote:

Done. The 69 are ready to be removed when ready. They are in the people_to_remove list in NB.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because

[2022-06-07 16:24] chrisflesher commented on #71
Ok, deleted these, thanks @austinbegin

[2022-06-07 16:24] #71 closed, assigned to nobody

[2022-07-20 02:17] ghost commented on #75
I can take care of this. Using the filter of "any email address is bad" and "mobile number exists: yes," there are 30 people in NationBuilder that I can text. However, a couple of people here have opted out of texts. Should I still reach out to them?

[2022-07-20 02:41] hwasserstrum commented on #75
I think we should respect their request of no texts. Can you please either call those two individuals yourself or send me the names and I will do so.
The text message should thank them for signing up on our website to show their support for ranked choice voting. We hope to get a good email address so we can contact them at appropriate times when we want them to contact their Texas legislators and

[2022-07-20 18:28] ghost commented on #75
Understood.

[2022-07-21 15:51] ghost commented on #75
All texts/calls have been sent to the people listed on the "Bad Email" page of the "NB People" spreadsheet on Google Drive. This is where the new emails, should I receive them, will be placed for admins to view and then edit in NB. Some of the emails, highlighted in yellow, may have simply been mistyped at registration and could be easily modified to make them valid addresses.

[2022-07-23 23:50] ghost commented on #75
Someone replied to ask whether their email will be at risk of being sold to (or in other ways obtained by) other movements or campaigns if they update it in our database. What should the response be to this?

[2022-07-24 00:00] hwasserstrum commented on #75
We do not share contact information with anyone or any other organization. We use your email address to keep you informed about the progress of our efforts and, most importantly, to be able to contact you when we want our supporters to reach out to their elected officials and ask them to vote for a bill. Sometimes we ask all supporters to contact their elected officials. Sometimes we reach out onl

[2022-08-30 03:53] ghost commented on #75
I haven't received any other updated emails in a while. Shall I ask those who haven't updated again since it has been over a month now or should this be marked as complete?

[2022-08-31 01:16] chrisflesher commented on #75
Harriet it's currently in the hospital and may not reply. Seems like you'd
know better if it's worth sending another one but to me seems like the task
is complete.

On Mon, Aug 29, 2022, 10:54 PM austinbegin ***@***.***> wrote:

[2022-09-03 19:40] ghost commented on #75
I am so sorry to hear that, and I hope she is doing well. I'll review my spreadsheet again and decide.

[2022-09-08 12:51] hwasserstrum commented on #75
thanks!
    On Saturday, September 3, 2022 at 02:40:15 PM CDT, austinbegin ***@***.***> wrote:

I am so sorry to hear that, and I hope she is doing well. I'll review my spreadsheet again and decide.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>